body {
  background-color: #FFF;
  margin: 0;
  padding: 0;
}

#cover {
  background: url("https://placeimg.com/1000/640/people") no-repeat top center;
  background-attachment: fixed;
  background-size: cover;
  height: 900px;
  position: relative;
  top: -55px;
  width: 100%;

}

.navigation {
  background-color: rgba(231, 254, 230, 0.8);
  overflow-y: auto;
  position: fixed;
  left: 0;
  top: 0;
  text-align: center;
  width: 100%;
  z-index: 10000;
  border-bottom: 10px solid #ACD391;  
}

ul {
  padding: 0;
}

li {
  color: #14213D;
  display: inline-block;
  font-family: 'Abel', sans-serif;
  font-size: 20px;
  font-weight: 300;
  margin: 16px 20px;
}

#logo {
  color: #9CC381;
  font-family: 'Revalia', cursive;
  font-size: 42px;
  padding: 0px 50px;}

.cover-content {
  box-sizing: border-box;
  margin: 0 auto;
  position: relative;
  text-align: center;
  top: 280px;
  width: 70%;
  padding-top: 80px;
}

h1 {
  color: #FFF;
  font-family: 'Indie Flower', cursive;
  font-size: 72px;
  line-height: 60px;
  padding-top: 30px;
  text-align: center;
}

h2 {
  color: #000;
  font-family: 'Raleway', sans-serif;
  font-size: 42px;
  font-weight: 300;
  text-align: center;
  padding-bottom: 20px; 
}

h3 {
  color: #0a6916;
  font-family: 'Abel', sans-serif;
  font-size: 30px;
  text-align: center;
  text-transform: uppercase;
}

h4 {
  color: #567529;
  font-family: 'Abel', sans-serif;
  font-size: 24px;
  margin: 0px 0px 50px 0px;
}

p {
  color: #333;
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  font-weight: 300;
  
  overflow: hidden;
  text-overflow: ellipsis;
  
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
  
  max-height: 200px;
}

a {
  text-decoration: none;
}

.btn {
  background-color: #9CC381;
  color: #FFF;
  border-radius: 100%;
  font-family: 'Fjalla One', cursive;
  font-size: 26px;
  padding: 34px;
  font-weight: 500; 
  background-image: -webkit-linear-gradient(#9CC381 , #1CA311);
}

.products {
  background: #E7FEE6;
  box-sizing: border-box;
  width: 90%;
  margin: 20px auto;
  padding: 20px 0px;
  text-align: center;
}

.product {
  display: inline-block;
  margin: 0px 2% 80px 2%;
  text-align: center;
  width: 20%;
}

.product img {
  width: 100%;
}

.blue {
  color: #14213D !important;
}

.disclamer {
	font-size: 20px;
	padding:20px;
}

.footer {
  background-color: #9CC381;
  color: #fff;
  padding: 5px 0;
  border-top: 10px solid #ACD391;
}

.footer p {
  font-family: sans-serif;
  text-transform: uppercase;
  font-size: 15px;
  color: #fff;  
  padding-left: 100px;
}